* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kodchasan", sans-serif;
  background-color: #efeef3;
}

header {
  height: 400px;
  width: auto;
  overflow: hidden;
}
@media (min-width: 300px) and (max-width: 949px) {
  header {
    margin-top: 30px;
    height: 450px;
  }
}
@media (min-width: 950px) and (max-width: 1110px) {
  header {
    margin-top: 30px;
    height: 450px;
  }
}
header .background img {
  width: 100%;
  height: auto;
}
@media (min-width: 300px) and (max-width: 949px) {
  header .background img {
    display: none;
  }
}
@media (min-width: 950px) and (max-width: 1110px) {
  header .background img {
    display: none;
  }
}
header nav {
  background-color: #efeef3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 67px;
  padding: 0 5px;
  flex-direction: row;
  margin-left: 15px;
}
@media (min-width: 300px) and (max-width: 949px) {
  header nav {
    flex-direction: column;
    margin-top: 30px;
  }
}
@media (min-width: 950px) and (max-width: 1110px) {
  header nav {
    flex-direction: column;
    margin-top: 30px;
  }
}
header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-direction: row;
  margin-right: 15px;
}
@media (min-width: 300px) and (max-width: 949px) {
  header ul {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 950px) and (max-width: 1110px) {
  header ul {
    flex-direction: column;
    align-items: center;
  }
}
header li {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}
@media (min-width: 300px) and (max-width: 949px) {
  header li {
    padding: 25px 0;
    height: 70px;
  }
}
@media (min-width: 950px) and (max-width: 1100px) {
  header li {
    padding: 25px 0;
    height: 70px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 300px) and (max-width: 949px) {
  main {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 950px) and (max-width: 1110px) {
  main {
    display: flex;
    justify-content: center;
  }
}
main .product-showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 2rem;
}
@media (min-width: 300px) and (max-width: 949px) {
  main .product-showcase {
    flex-direction: column;
    margin-top: 1rem;
  }
}
@media (min-width: 950px) and (max-width: 1100px) {
  main .product-showcase {
    flex-direction: column;
    margin-top: 1rem;
  }
}
main .products-description {
  width: 50%;
  text-align: center;
  font-size: 24px;
  padding: 0;
}
@media (min-width: 300px) and (max-width: 949px) {
  main .products-description {
    padding: 20px 0;
    width: 100%;
  }
}
@media (min-width: 950px) and (max-width: 1110px) {
  main .products-description {
    padding: 20px 0;
    width: 100%;
  }
}
main .products-description img {
  border-radius: 5px;
}
main .products-description h3 {
  font-weight: 500;
  font-size: 30px;
  padding: 10px 0;
}
main .products-description p {
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 300;
}
@media (min-width: 300px) and (max-width: 949px) {
  main .products-description p {
    padding: 20px 0;
    line-height: 2rem;
    width: 100%;
    margin-bottom: 0px;
  }
}
@media (min-width: 950px) and (max-width: 1110px) {
  main .products-description p {
    padding: 20px 0;
    line-height: 2rem;
    width: 100%;
    margin-bottom: 0px;
  }
}
main .products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 70px 0 30px 0;
}
@media (min-width: 300px) and (max-width: 949px) {
  main .products {
    flex-direction: column;
    width: auto;
    margin: 15px 0;
  }
}
@media (min-width: 950px) and (max-width: 1110px) {
  main .products {
    flex-direction: column;
    width: auto;
    margin: 15px 0;
  }
}
main .products h3 {
  font-size: 30px;
  width: 50%;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 300px) and (max-width: 949px) {
  main .products h3 {
    width: 100%;
  }
}
@media (min-width: 950px) and (max-width: 1110px) {
  main .products h3 {
    width: 100%;
  }
}
main .products figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
@media (min-width: 300px) and (max-width: 949px) {
  main .products figure {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
}
@media (min-width: 950px) and (max-width: 1110px) {
  main .products figure {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
}/*# sourceMappingURL=style.css.map */